<div class="container">
  <div class='mt-5 drivers'>
    <h1 class='mb-4'>F1 Drivers 2020</h1>

    <div class="cards">
      <% @drivers.each_with_index do |driver, index| %>
      <div class="card p-3">
        <div class='d-flex justify-content-between'>
          <h2><%= index + 1 %></h2>
          <h2><%= driver.overall_points %> <small>pts</small></h2>
        </div>
        <div class='d-flex justify-content-between align-items-center bg-light p-3 grey-box <%= 'williams' if driver.williams? %>'>
          <p class='m-0'><%= driver.name %></p>
          <p class='font-weight-bold m-0'><%= driver.constructor.name %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>

  <div class='my-5 constructors'>
    <h1 class='mb-4'>F1 Constructors 2020</h1>

    <div class="cards">
      <% @constructors.each_with_index do |constructor, index| %>
      <div class="card p-3">
        <div class='d-flex justify-content-between'>
          <h2><%= index + 1 %></h2>
          <h2><%= constructor.constructor_points %> <small>pts</small></h2>
        </div>
        <div class='d-flex justify-content-between align-items-center bg-light p-3 grey-box <%= 'williams' if constructor.williams? %>'>
          <div>
            <p class='m-0'><%= constructor.drivers.first.name %></p>
            <p class='m-0'><%= constructor.drivers.last.name %></p>
          </div>
          <p class='font-weight-bold m-0'><%= constructor.name %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
