<% @drivers.each do |driver| %>
  <p><%= driver.name %>
  <%= driver.constructor.name %>
  <%= driver.overall_points %></p>
<% end %>

<h2>con</h2>
<% @constructors.each do |constructor| %>
  <p class='font-weight-light'> <%= constructor.drivers.first.name %>
  <%= constructor.drivers.last.name %>
  <%= constructor.constructor_points %>
  </p>
<% end %>
